.breadcrumbs {
  background-color: color(zinc-300);
  margin-bottom: rem(20);

  ul {
    display: flex;
    align-items: center;
    padding: rem(5) 0 rem(10);

    li {
      strong {
        font-weight: normal;
      }

      a {
        @include f(13);
      }

      i {
        padding: 0 rem(20);
        @include f(13);
      }

      &.last {
        i {
          display: none;
        }
      }
    }
  }
}
