.instagram{
  position: relative;
  background-color: var(zinc-300);
  padding: rem(50) 0;
	
	h2{
		@include f(24);
		text-align: center;
		font-weight: 700;
		margin-bottom: rem(5);
		color: color(zinc-800);
	}
  
	&__content{
    display: grid;
		gap: rem(10);
    
    &-title{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: rem(15);
      
      .icon-insta{
        width: rem(40);
        height: rem(40);
        fill: color(zinc-800);
        margin-bottom: rem(5);
      }
      
      span{
        font-family: $fontPrimary;
        @include f(24);
        text-transform: uppercase;
        letter-spacing: rem(10);
        color: color(zinc-800);
        font-weight: normal;
        margin-bottom: rem(25);
      }
  
      a{
        font-family: $fontPrimary;
        @include f(24);
        font-weight: normal;
        color: color(zinc-800);
      }
    }

    &-list{
      display: grid;
		  grid-template-columns: repeat(2, 1fr);
		  gap: rem(10);

      @include d(sm){
        grid-template-columns: repeat(3, 1fr);
      }
  
      @include d(lg){
        grid-template-columns: repeat(6, 1fr);
      }
    }

    &-item{
      overflow: hidden;
      width: 100%;
      height: rem(197);
      border-radius: rem(5);

      @include d(sm){
        width: rem(165);
        height: rem(165);
      }
      @include d(md){
        width: rem(225);
        height: rem(225);
      }
      @include d(lg){
        width: rem(147);
        height: rem(147);
      }
      @include d(xl){
        width: rem(177);
        height: rem(177);
      }
      @include d(xxl){
        width: rem(207);
        height: rem(207);
      }
    }

		&-image{
      width: 100%;
      height: rem(197);
			object-fit: cover;
			border-radius: rem(5);
			@include t(0.3s);

      @include d(sm){
        width: rem(165);
        height: rem(165);
      }
      @include d(md){
        width: rem(225);
        height: rem(225);
      }
      @include d(lg){
        width: rem(147);
        height: rem(147);
      }
      @include d(xl){
        width: rem(177);
        height: rem(177);
      }
      @include d(xxl){
        width: rem(207);
        height: rem(207);
      }

			&:hover{
				transform: scale(1.1);
			}
		}
	}
}