extends ../../layout/index.pug

//- Template variables
block vars
  - var $templateName = 'Login';
  - var $templateClass = 'page-login';

//- Page styles
block append styles
  link(rel='stylesheet', href=`/arquivos/${$templateName}.css`)/

//- Main content
block content
  secction.c-login
    .container
      vtex(.cmc:userLogin)/

//- Page scripts
block append scripts
  script(src=`/arquivos/${$templateName}.js`) 