.page-account{
  &-main{
    margin-top: rem(134);

    @include d(md){
      margin-top: rem(212);
    }
  }

  .account{
    display: block;
    margin: rem(30) 0;
    font-family: $fontPrimary;

    .vtex-account{
      background-color: #ffffff;
      box-shadow: 0 0 rem(10) rgba(0,0,0,0.1);
      border-radius: rem(10);

      > .w-100{
        display: grid;
        padding: rem(20);
        gap: rem(20);
        margin: 0;

        @include d(lg){
          grid-template-columns: rem(190) 1fr;
          gap: 0;
        }
      }

      &__menu{
        padding: 0;

        .vtex-account_menu-link{
          &.b--action-primary{
            border-color: var(--color-secondary);
            color: var(--color-secondary) !important;
          }
        }
      }

      .vtex-pageHeader__container{
        padding: 0;
      }

      .vtex-pageHeader-link__container{
        button{
          outline: 0;
          @include t(0.3s);

          span{
            display: flex;
            align-items: center;
            color: var(--color-secondary);
          }

          &:hover{
            opacity: 0.75;
          }
        }
      }

      .vtex-pageHeader__title{
        font-family: $fontPrimary;
        color: var(--color-secondary);
        text-transform: uppercase;
        letter-spacing: rem(1);
      }

      .vtex-pageHeader__children{
        button{
          outline: 0;
          background-color: var(--color-secondary);
          color: #ffffff;
          border: 0;
          @include t(0.3s);

          &:hover{
            background-color: var(--color-secondary);
          }
        }
      }

      .vtex-account__user-image{
        display: none !important;
      }

      .vtex-account__page{
        iframe{
          body{
            background-color: #ffffff !important;
          }

          .vtex-input__label{
            font-family: $fontPrimary !important;
          }
        }
      }

      .vtex-account__page-body{
        padding: 0;

        main{
          @include d(lgMax){
            display: grid;
            grid-template-columns: 1fr;

            > div{
              width: 100%;
            }
          }
        }

        .vtex-dropdown__arrow{
          color: color(zinc-700) !important;
        }

        .c-link{
          color: var(--color-secondary) !important;
        }

        iframe{
          .bg-action-primary{
            outline: 0;
            background-color: var(--color-secondary) !important;
            color: #ffffff !important;
            border: 0;
            @include t(0.3s);

            &:hover{
              background-color: var(--color-secondary) !important;
            }
          }

        }

        .c-on-base{
          font-family: $fontPrimary;
        }

        article{
          main{
            padding: rem(20) !important;
          }

          footer{
            padding: 0 rem(20) rem(20);

            button{
              background-color: var(--color-secondary) !important;
              color: #ffffff;
              border: 0;
              outline: 0;
              @include t(0.3s);

              &:hover{
                background-color: var(--color-secondary) !important;
              }
            }
          }
        }
      }
    }
  }
}
