html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #ffffff;
  box-sizing: border-box;
  min-height: 100%;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-family: $fontPrimary;
  @include f(16);
  overflow-x: hidden;
}

.c-mask{
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  @include t(0.2s);
  z-index: 1;

  &.active{
    opacity: 1;
    visibility: visible;
  }
}

#ajaxBusy {
  &.loading {
    position: fixed;
    left: 0;
    bottom: 0;
    width: rem(100);
    height: rem(100);
    margin: auto;
    display: block !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 9999999999;
    @include f(0);
    text-align: center;
    background-color: transparent;

    &[style="display: none;"] {
      display: none !important;
    }

    p {
      position: relative;
      width: rem(50);
      height: rem(50);
      border-radius: 100%;
      -webkit-animation: loader 0.5s linear infinite;
      animation: loader 0.5s linear infinite;
      border-color: #1b1b1b transparent;
      border-style: solid;
      border-width: rem(1);
      z-index: 9999;
      margin: rem(-25) 0 0 rem(-25);
      top: 50%;
      left: 50%;
    }
  }
}

@keyframes loader {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  padding: 0;
  width: 100%;
  padding: 0 rem(15);
  min-height: initial;

  // a partir de 576px
  @include d(sm) {
    max-width: rem(540);
    margin: 0 auto;
    padding: 0;
  }

  // a partir de 768px
  @include d(md) {
    max-width: rem(720);
  }

  // a partir de 992px
  @include d(lg) {
    max-width: rem(960);
  }

  // a partir de 1200px
  @include d(xl) {
    max-width: rem(1140);
    padding: 0;
  }

  // a partir de 1400px
  @include d(xxl) {
    max-width: rem(1320);
  }
}

.image-animation img[data-src]{
  opacity: 0;
  transform: scale(0);
}

.image-animation img[src]{
  opacity: 1;
  transform: scale(1);
  @include t(0.3s);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
  
  &:hover {
    cursor: pointer;
  }
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

button {
  cursor: pointer;
}
